{% extends 'base.html.twig' %}

{% block body %}

    <form method="post">
        <label>
            <input type="text" name="product[title]">
        </label>
        <label>
            <input type="text" name="product[summary]">
        </label>
        <input type="submit" value="Add Product">
    </form>
{%endblock %}