{% extends 'base.html.twig' %}

{% block body %}
    <h2>Delete Product</h2>
    <form method="post" action="{{ path('delete_product',{'id': product.id}) }}">
        <label>
            <input type="text" name="product[title]" value="{{ product.title }}">
        </label>
        <label>
            <input type="text" name="product[summary]" value="{{ product.summary }}">
        </label>

        <input type="submit" value="Delete">
    </form>

{% endblock %}