{% extends 'base.html.twig'%}

{% block body %}

<h2> View Product</h2>

{{ product.title}}
<br>
    ----------
<br>
{{ product.summary }}
<br>
    {%  if product.owner == app.user %}
        <a href="{{path('edit_product',{'id':product.id})}}">Edit</a>|
        <a href="{{ path('delete_product',{'id':product.id})}}">Delete</a>
    {% endif %}


{% endblock %}