<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <h2> Base HTML </h2>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


        {% block body %}

            {% if app.user %}
                V profila sam
                <a href="{{ path('user_logout') }}">LogOut</a>

            {% else %}
                Go to <a href="{{ path('user_login') }}">User Login</a> <br>
                Go to <a href="{{ path('user_register') }}">User Register</a>
            {% endif %}
        {% endblock %}


        {% block javascripts %}{% endblock %}
    </body>
</html>
