{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-form-container">
    <h1> Register</h1>
    <form method="post" action="{{ path('user_register') }}" name="register">

        <label for="inputEmail">
            <input type="text" name="user[email]" id="inputEmail" class="form-control" placeholder="Email" required >
        </label>
        <label for="inputFullName">
            <input type="text" name="user[fullName]" id="inputFullName" class="form-control" placeholder="fullName" required >
        </label>
        <label for="inputPassword">
            <input type="password" name="user[password]" id="inputPassword" class="form-control" placeholder="password" required >
        </label>
        <input type="submit" value="Register!">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}"/>


    </form>
    </div>
{% endblock %}